.confirm_password_field {
    -fx-max-width: 325px;
    -fx-max-height: 60px;

}

.confirm_password_button {
    -fx-max-width: 60px;
    -fx-max-height: 60px;
    -fx-background-radius: 15px; /* El fondo también se redondea */
}